.modalOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
    width: 60rem;
    height: 50rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 12px;
    overflow: hidden;
}

.serieCover {
    flex: 7;
    background-color: rgba(0, 0, 0, .6);
}

.serieCover.hasCover {
    background-color: transparent;
}

.serieCover img {
    width: 100%;
}

.serieInfo {
    flex: 3;

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.serieInfo .editableInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.serieInfo .cardButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.serieInfo .cardButtons * {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.modalCloseButton {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    border: none;
    line-height: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.modalCloseIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: white;
}

.synopsisDiv p {
    text-align: justify;
}
