.websiteContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px 32px;    
}

.serieItem {
    border: 4px double #416289;
    border-radius: 12px;
    background-color: white;
    padding: 4px 8px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.serieTitle {
    text-align: center;
}

.cardButtons {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    gap: 4px;
}

.cardButtons ion-icon {
    color: #7d8287;
    cursor: pointer;
}

.cardButtons ion-icon:hover {
    color: black;
}

.emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.serieItem.loading {
    justify-content: center;
    align-items: center;
    opacity: 0.33;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
}

.emptyStateContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 

.emptyStateText {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}
  
.hidden {
    display: none;
}

.emptyStateImage {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

/* Edit modal */

.editSerieModal {
    height: 560px;
    width: 560px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    margin: calc(50vh - 280px) calc(50vw - 280px);
}

.modalHeader {
    display: flex;
    justify-content: end;
    margin: 0 15px;
    background-color: white;
    border-radius: 12px 12px 0 0;
    margin-top: 8px;
}

.editModalCloseButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 4px;
}

.editSerieModal iframe {
    width: 100%;
    height: 95%;
    position: absolute;
    bottom: 0;
    border: none;   
}
