.serieItem {
    border: 4px double #416289;
    border-radius: 12px;
    background-color: white;
    padding: 4px 8px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.serieTitle {
    text-align: center;
}

.synopsisDiv {
    height: 172px;
    overflow-y: auto;
    padding-right: 10px;
}

.synopsisDiv p {
    text-align: justify;
}

.cardButtons {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    gap: 4px;
}

.cardButtons * {
    cursor: pointer;
}

.cardButtons ion-icon {
    color: #7d8287;
}

.cardButtons ion-icon:hover {
    color: black;
}

.loadingState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
}
